<nav>
  <ul>
    <li><%= link_to 'Products', 'http://localhost:3000/home/products' %></li>
    <li><%= link_to 'Contacts', 'http://localhost:3000/home/contacts' %></li>
    <li><%= link_to 'FAQ', 'http://localhost:3000/home/faq' %></li>
  </ul>
</nav>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
