<nav>
  <ul>
    <li><%= link_to 'Good products', '/home/good_products' %></li>
    <li><%= link_to 'Bad products', '/home/bad_products' %></li>
  </ul>
</nav>

<h1>Home#products</h1>
<p>Find me in app/views/home/products.html.erb</p>

<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
