<%= link_to 'Answers', '/home/answers' %>

<h1>Home#questions</h1>
<p>Find me in app/views/home/questions.html.erb</p>

<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>

